#git should ignore these files
*.cache
*.log
*.pid
*.pyc
tmp/**/*
.DS_Store

##ingored files in pre qual rails app
Ajax-Rails-Full-CRUD/tmp/*
Ajax-Rails-Full-CRUD/.DS_Store
Ajax-Rails-Full-CRUD/app/.DS_Store
Ajax-Rails-Full-CRUD/log/*