= form_for :gadget, :url => widget_gadgets_path(@widget), remote: true do |f|
  %tr{:id => "new-gadget-form", :style => "display:none;"}
    %td= f.text_field :name
    %td{:id => "save-record"}= f.submit "Save" 
    %td= link_to "Cancel", "#", {:id => 'cancel'}