= form_for :widget, :url => widgets_path, remote: true do |f|
  %tr{:id => "new-widget-form", :style => "display:none;"}
    %td= f.text_field :name
    %td= f.text_field :description
    %td= f.submit 'Save', :id => 'save-record'