%h1 Listing widgets

%table{:id => 'widgets-table', :cellpadding => '7;', :border => '1px solid #e8e9eb; font-size:20px;'}
  %thead
    %tr
      %th{:style => 'background-color:#78c4e5;'} Widget Name
      %th{:style => 'background-color:#78c4e5;'} Description
      %th{:style => 'background-color:#78c4e5;'} Gadgets
      %th{:style => 'background-color:#78c4e5;'}=check_box_tag 'check-all', "check-all", false, :class => 'checkbox'

  %tbody
    =render @widgets
    =render 'form'


%br

= link_to 'New Widget', new_widget_path, {:id => 'new-widget'}
| 

=button_tag "Delete Selected", controller: 'widgets', remote: true, class: 'button pill', id: 'delete-selected'

:coffeescript
  $ ->
    $("#delete-selected").click (event) ->
      path=stripTrailingSlash(window.location.pathname)
      path=path+"/widgets" if path==""
      widget_ids=[]
      $.each $(".checkbox:checked"), (index, checkbox) ->
        if $(checkbox).attr('name') != "check-all" and $(checkbox).val() not in widget_ids
          widget_ids.push($(checkbox).val())

      $.ajaxSetup cache: false, beforeSend: (xhr) ->
        xhr.setRequestHeader "X-CSRF-Token", $("meta[name=\"csrf-token\"]").attr("content")
      $.ajax
        type: "POST"
        url: path+"/destroy_multiple"
        data: "widget_ids=" + widget_ids
        dataType: 'json'
        success: (data) ->
          msg=data
          
          ids_to_remove=[]
          $.each $(msg), (index, gadget) ->
            ids_to_remove.push(gadget.id)
          
          for id in ids_to_remove
            table_row = $("input#widget_" + id).parent().parent()
            $(table_row).fadeOut 1000, ->
              $(table_row).remove()

          flash_msg=""
          if ids_to_remove.length==1
            flash_msg=" Widget Destroyed"
          else
            flash_msg=" Widgets Destroyed"
            
          noty(text: ids_to_remove.length + flash_msg, layout : 'top', type: 'information')