%h1 Listing widgets

%table{:id => 'widgets-table', :cellpadding => '7;', :border => '1px solid #e8e9eb; font-size:20px;'}
  %thead
    %tr
      %th{:style => 'background-color:#78c4e5;'} Widget Name
      %th{:style => 'background-color:#78c4e5;'} Description
      %th{:style => 'background-color:#78c4e5;'} Gadgets
      %th{:style => 'background-color:#78c4e5;'} Destroy

  %tbody
    =render @widgets
    =render 'form'

      

%br

= link_to 'New Widget', new_widget_path, {:id => 'new-widget'}

:coffeescript

